<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title> BMI </title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.1.0/mdb.min.css" rel="stylesheet" />
</head>

<body>

    <div class="container mt-5">
        <form method="POST">
            <!-- Email input -->
            <div class="form-outline mb-4">
                <input type="email" id="height" name="height" class="form-control" />
                <label class="form-label" for="height">Height</label>
            </div>
    
            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="password" id="weight" class="form-control" name="weight"/>
                <label class="form-label" for="weight">Weight</label>
            </div>
    
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
    </div>
    <hr>
    <h1>Your BMI {{data}}</h1>



    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.1.0/mdb.min.js"></script>
</body>

</html>