{% extends 'base_layout.html' %}

{% block body %}
<div class="mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="touch">
                <div class="card text-left">
                    <div class="card-body">
                        <h5 class="text-center"> </h5>

                        <div class="container">

                            <div class="row">
                              <div class="col-12">

                                    <div class="view overlay zoom">
                                        <div class="col-xl-5 col-md-4 mb-3 text-center">

                                            <img src="https://supreme.swu.ac.th/file_staff_upload/file_student_pic/2562_1/62102010027.jpg" class="img-fluid z-depth-1 rounded-circle"
                                              alt="Responsive image">
                                              <br>
                                              <br>
                                              นายธนาธิป ชนะศรี รหัสนิสิต 62102010027
                                          </div>
                                    </div>
                              </div>
                                    
                           
                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}