{% extends 'base_layout.html' %}

{% block body %}
<div class="mt-5">




    <div class="row">
        <div class="col-md-12">
            <div class="touch">
                <div class="card text-left">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <form class="form-inline">
                                    <div class="md-form form-group mt-0">
                                        <input name="search_news" type="text" id="search_news" class="form-control mr-sm-3"
                                            aria-describedby="passwordHelpInlineMD">
                                        <label for="search_news">Search...</label>
                                        <input class="btn btn-indigo btn-sm" type="submit" value="Submit">
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <h5 class="text-center"> News </h5>

                            </div>
                        </div>

                        <div class="row">

                            {% for news in news %}
                            <div class="col-md-4 mt-2">

                                <div class="card">
                                    <div class="card-body">

                                        <h5>{{news.title}}</h5>
                                        <p class="card-text text">{{ news.description }}</p>
                                        <p class=" card-text float-right">{{ news.publishedAt}}</p>
                                        
                                    </div>
                                    <div class="text-right mr-2 mb-3">
                                        <a href="{{ news.url }}" class="text-center btn btn-sm btn-danger">Readmore</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}