<html>

<head>
    <title>Apple Music</title>
    <link rel="icon" href="data:,">

</head>

<body>

    <h1> {{items['feed']['title']}} to Apple Music</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Link</th>
        </tr>
        {%for item in items['entries'] %}
        <tr>
            <td>{{item.title}}</td>
            <td>{{item.description}}</td>
            <td><a href={{item.link}}>{{item.link}}</a></td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>